<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat App</title>
  <link rel="stylesheet" type="text/css" href="main.css" />
</head>
<body>
  
  <div class="container">
    <div class="card">
      
      <div class="chat-header">Scylla</div>
      
        <div class="chat-window">
          <ul class="message-list">
            <% messages.forEach(msg => {%>
           <li class="msg <%= msg.sender === 'me' ? 'me' : '' %>"> 
             <%= msg.message %> 
           </li>
            <% }) %>
          </ul>
        </div>
      
        <form class="chat-input" method="post" action="/">
            <input type="text" class="message-input" name="message" placeholder="Type your message here">
            <button class="send-button">Send</button>
        </form>
      </div>
  </div>

</body>
</html>
