<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat App</title>
  <link rel="stylesheet" type="text/css" href="main.css" />
</head>
<body>

<div class="chatroom">
  <div class="chats">
    <% messages.forEach(msg => { %>
      <div class="chat <%= msg.sender === 'me' ? 'me' : '' %>">
        <p><%= msg.message %></p>
      </div>
    <% }) %>
  </div>

  <form method='post' action='/'>
    <input type="text" name="message" placeholder="Type your message" required>
    <button type="submit">Send</button>
  </form>
</div>

</body>
</html>
